.snrs-flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media (max-width: 480px) {
    .snrs-flexbox {
      display: block; } }

.snrs-flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@media (max-width: 480px) {
  .snrs-flexbox {
    display: block; } }

.snrs-notify-template-default {
  font-size: 16px;
  color: #848484;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, snan-serif; }

.snrs-notify-template-default *, .snrs-notify-template-default *:after, .snrs-notify-template-default *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.snrs-notify-template-default img {
  display: block;
  width: 100%;
  max-width: 100%; }

.snrs-notify-template-default ul {
  padding: 0;
  list-style: none; }

.snrs-notify-template-default li {
  margin: 10px 0;
  font-size: 12px; }

.snrs-notify-template-default input {
  width: 100%;
  padding: 15px; }

.snrs-notify-template-default input:focus {
  outline: none; }

.snrs-notify-template-default a {
  text-decoration: none;
  outline: none; }

.snrs-notify-template-default p.title-secondary {
  font-size: 22px; }

.snrs-notify-template-default ul.adventages {
  margin: 30px 0; }

.snrs-notify-template-default .snrs-btn-default {
  font-size: 13px; }

.snrs-notify-type-content {
  color: #848484;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, snan-serif; }

.snrs-notify-type-content ul {
  padding: 0;
  list-style: none; }

.snrs-notify-type-content input {
  width: 100%;
  padding: 15px;
  font-size: 13px; }

.snrs-notify-type-content input:focus {
  outline: none; }

.snrs-notify-type-content form {
  margin: 30px 0; }

.snrs-notify-type-content .snrs-btn-default {
  font-size: 14px; }

.snrs-notify-type-content .section-text {
  max-width: 100% !important; }

.snrs-modal-wrapper {
  font-size: 10px;
  color: #848484;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.snrs-modal {
  box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.3);
  background: #ffffff;
  position: relative;
  margin: 0; }

.snrs-modal.snrs-transparent-modal {
  box-shadow: none;
  background: transparent; }

.snrs-modal.snrs-notify-type-default {
  -webkit-box-shadow: none;
  box-shadow: none; }

.snrs-second-step {
  padding: 65px;
  font-size: 16px; }

.snrs-second-step p {
  font-size: 3.8em;
  margin: 0;
  font-weight: 100;
  text-align: center;
  font-family: Helvetica, Arial, Sans-Serif; }

.snrs-notify-template-newsletter {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, Sans-Serif; }

.snrs-notify-template-newsletter ul {
  padding: 0;
  list-style: none; }

.snrs-notify-template-newsletter .section-text {
  padding: 30px 60px;
  font-family: Helvetica, Arial, Sans-Serif; }

.snrs-notify-template-newsletter .section-text p {
  text-align: center;
  margin: 0 0 40px; }

@media (max-width: 480px) {
  .snrs-notify-template-newsletter .section-text {
    padding: 30px !important; } }

.snrs-notify-template-newsletter p.title-primary {
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.6;
  margin: 0 0 25px; }

.snrs-notify-template-newsletter p.title-secondary {
  font-size: 3.8em;
  font-weight: 100; }

@media (max-width: 480px) {
  .snrs-notify-template-newsletter p.title-secondary {
    font-size: 3em; } }

.snrs-notify-template-newsletter .adventages {
  margin: 0 0 40px;
  padding: 0; }

.snrs-notify-template-newsletter .adventages li {
  font-size: 1.3em;
  margin: 10px 0;
  padding-left: 20px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(""); }

.snrs-notify-template-newsletter .adventages li:first-of-type {
  margin-top: 0; }

.snrs-notify-template-newsletter .adventages li:last-of-type {
  margin-bottom: 0; }

.snrs-notify-template-newsletter .snrs-flexbox-input {
  -webkit-flex: 1 1 70%;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%; }

.snrs-notify-template-newsletter .snrs-flexbox-btn {
  -webkit-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%; }

.snrs-notify-template-newsletter .snrs-main-input {
  padding: 18px;
  font-size: 1.3em;
  width: 100%;
  border: 1px solid #d6d6d6;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }

.snrs-notify-template-newsletter .snrs-main-input:focus {
  border-color: #b5b5b5;
  outline: none; }

.snrs-notify-template-newsletter .snrs-form {
  display: block; }

.snrs-btn-default {
  position: relative;
  color: #ffffff;
  padding: 13px;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 15px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }

.snrs-btn-default:hover {
  background-color: #454545; }

.snrs-btn-default:focus {
  outline: none; }

.snrs-btn-green {
  background-color: #87b650; }

.snrs-btn-blue {
  background-color: #69a5f4; }

.snrs-btn-orange {
  background-color: #f68b39; }

.snrs-btn-purple {
  background-color: #847bb9; }

.snrs-btn-red {
  background-color: #ed6c63; }

.snrs-btn-turquoise {
  background-color: #1fc8db; }

.snrs-btn-yellow {
  background-color: #fce473; }

.section--placeholder {
  width: 100%;
  height: auto; }

.block--vertical .section--placeholder {
  height: 170px; }

.snrs-is-half .section-text {
  padding: 40px 30px;
  min-width: 480px;
  max-width: 480px; }

@media (max-width: 480px) {
  .snrs-is-half .section-text {
    max-width: 300px;
    min-width: 280px;
    margin: auto; } }

.snrs-is-half .section-text--flex, .snrs-is-half .snrs-section-img--flex {
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }

.snrs-is-one-third .section-text {
  padding: 40px 70px; }

.snrs-is-one-third .snrs-section-img--flex {
  -webkit-flex: 1 1 35%;
  -ms-flex: 1 1 35%;
  flex: 1 1 35%; }

.snrs-is-one-third .section-text--flex {
  -webkit-flex: 1 1 65%;
  -ms-flex: 1 1 65%;
  flex: 1 1 65%; }

#snrs-result {
  display: none; }

#snrs-result {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: red;
  text-align: left; }

.snrs-has-error #snrs-result {
  display: block; }

.snrs-has-error .snrs-main-input {
  border-color: red; }

.snrs-has-error ::-webkit-input-placeholder {
  color: red; }

.snrs-has-error :-moz-placeholder {
  /* Firefox 18- */
  color: red; }

.snrs-has-error ::-moz-placeholder {
  /* Firefox 19+ */
  color: red; }

.snrs-has-error :-ms-input-placeholder {
  color: red; }

.snrs-modal-btn-close {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 0;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #6a6a6a; }

.snrs-modal-btn-close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 4px;
  margin-top: -2px; }

.snrs-modal-btn-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 4px;
  margin-top: -2px; }

.snrs-modal-btn-close:before, .snrs-modal-btn-close:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  top: 50%;
  left: 12px;
  margin-top: -1px;
  background: #ffffff; }

@media (max-width: 480px) {
  .snrs-modal-btn-close {
    width: 30px;
    height: 30px; }
  .snrs-modal-btn-close:before, .snrs-modal-btn-close:after {
    left: 8px; } }

@media (max-width: 1024px) {
  .snrs-section-img--flex {
    display: none; } }

.snrs-section--icon {
  background-image: url("");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin: auto; }

@media (max-width: 480px) {
  .snrs-main-input {
    width: 100%;
    margin-bottom: 20px; }
  button.snrs-btn-default {
    margin: 0;
    width: 100%;
    padding: 19px; } }

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg); } }

.snrs-btn--is-loading {
  cursor: wait;
  font-size: 0;
  background-color: #454545; }

.snrs-btn--is-loading:after {
  animation: spin 500ms infinite linear;
  -webkit-animation: spin 500ms infinite linear;
  border: 2px solid #d3d6db;
  border-color: transparent transparent white white !important;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 18px;
  width: 18px;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
  top: 50%; }

@media (max-width: 480px) {
  .snrs-btn--is-loading {
    min-height: 54px; } }

.snrs-block-success {
  padding: 100px 50px; }

.snrs-block-success .text {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 1.5; }

.snrs-section-is--bright {
  color: #454545; }

.snrs-section-is--dark {
  color: #f7f7f7; }

.snrs-section-is--dark .snrs-main-input {
  border-color: #8F8F8F; }

.snrs-section-is--bright .snrs-main-input, .snrs-section-is--dark .snrs-main-input {
  background-color: transparent; }

.snrs-modal-wrapper, #snrs-newsletter-promotion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100%;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.snrs-modal-wrapper {
  display: none; }

.snrs-modal-wrapper.snrs-modal-show {
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999999; }

.snrs-notify-type-content {
  max-width: 640px;
  margin: auto; }

.snrs-notify-type-content .section--placeholder {
  display: none; }

.snrs-hide {
  display: none; }

/* ==========================================================================
   webpush
   ========================================================================== */
.snrs-webpush--close {
  background-image: url("");
  background-repeat: no-repeat;
  cursor: pointer; }

.snrs-webpush--background {
  background: #fff; }

.snrs-webpush--radial-content {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

.snrs-webpush--autoflex {
  -webkit-flex: auto;
  flex: auto; }

.snrs-webpush--popover, .snrs-webpush--widget, .snrs-webpush--topbar {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 15px;
  font-weight: 400; }

.snrs-webpush--popover-content, .snrs-webpush--widget-content, .snrs-webpush--topbar-content {
  color: #404040;
  -moz-box-shadow: 0 0 50px 1px rgba(16, 27, 36, 0.1);
  -webkit-box-shadow: 0 0 50px 1px rgba(16, 27, 36, 0.1);
  box-shadow: 0 0 50px 1px rgba(16, 27, 36, 0.1); }

.snrs-webpush--popover-content p, .snrs-webpush--widget-content p, .snrs-webpush--topbar-content p {
  line-height: 20px; }

.snrs-webpush--popover-icon, .snrs-webpush--widget-icon, .snrs-webpush--topbar-icon {
  background: #f06367;
  display: inline-block;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.snrs-webpush--popover-icon span, .snrs-webpush--widget-icon span, .snrs-webpush--topbar-icon span {
  width: 50%;
  height: 50%;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center center; }

.snrs-webpush--popover-dn-allow, .snrs-webpush--popover-allow, .snrs-webpush--widget-dn-allow, .snrs-webpush--widget-allow, .snrs-webpush--topbar-dn-allow, .snrs-webpush--topbar-allow {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px; }

.snrs-webpush--popover-dn-allow, .snrs-webpush--widget-dn-allow, .snrs-webpush--topbar-dn-allow {
  color: #f06367;
  padding: 10px 12px;
  line-height: 20px;
  font-size: 15px; }

.snrs-webpush--popover-allow, .snrs-webpush--widget-allow, .snrs-webpush--topbar-allow {
  color: #fff;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #55c039;
  line-height: 20px;
  font-size: 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.snrs-webpush--popover-allow:hover, .snrs-webpush--widget-allow:hover, .snrs-webpush--topbar-allow:hover {
  background: #7dd766;
  color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.snrs-webpush--popover-content .snrs-webpush--widget-content--top h3, .snrs-webpush--widget-content .snrs-webpush--widget-content--top h3, .snrs-webpush--topbar-content .snrs-webpush--widget-content--top h3 {
  line-height: 22px;
  color: #404040; }

.snrs-webpush--popover-content .snrs-webpush--widget-content--top p, .snrs-webpush--widget-content .snrs-webpush--widget-content--top p, .snrs-webpush--topbar-content .snrs-webpush--widget-content--top p {
  line-height: 20px;
  font-size: 15px; }

.snrs-webpush--popover-buttons, .snrs-webpush--widget-buttons, .snrs-webpush--topbar-buttons {
  line-height: 20px; }

.snrs-webpush--popover-bottom, .snrs-webpush--widget-bottom, .snrs-webpush--topbar-bottom {
  line-height: 20px; }

.snrs-webpush--popover-powered, .snrs-webpush--widget-powered, .snrs-webpush--topbar-powered {
  color: #757575;
  font-size: 11px;
  text-decoration: none;
  display: inline-block; }

.snrs-webpush--popover-powered img, .snrs-webpush--widget-powered img, .snrs-webpush--topbar-powered img {
  display: inline-block;
  vertical-align: middle; }

.snrs-webpush--popover {
  padding: 0 10px;
  -moz-box-sizing: botrder-box;
  -webkit-box-sizing: botrder-box;
  box-sizing: botrder-box;
  width: 100%;
  max-width: 530px; }

.snrs-webpush--popover-inner {
  padding: 30px;
  -moz-box-sizing: botrder-box;
  -webkit-box-sizing: botrder-box;
  box-sizing: botrder-box;
  text-align: left; }

.snrs-webpush--popover-content {
  position: relative; }

.snrs-webpush--popover-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px; }

.snrs-webpush--popover-buttons {
  margin-top: 20px;
  text-align: right; }

.snrs-webpush--popover-overlay {
  z-index: 99;
  width: 100%;
  top: 250px;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.snrs-webpush--popover-icon {
  width: 79px;
  min-width: 79px;
  height: 79px;
  margin-right: 20px; }

.snrs-webpush--popover-top {
  display: -webkit-flex;
  display: flex; }

.snrs-webpush--popover .snrs-webpush--close {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 15px; }

.snrs-webpush--topbar {
  width: 100%;
  position: relative; }

.snrs-webpush--topbar-content {
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative; }

@media only screen and (max-width: 960px) {
  .snrs-webpush--topbar-content {
    display: block; } }

.snrs-webpush--topbar-content p {
  line-height: 20px; }

@media only screen and (max-width: 960px) {
  .snrs-webpush--topbar-content p {
    margin: 13px 0; } }

.snrs-webpush--topbar-powered {
  position: absolute;
  right: 60px;
  top: 30px; }

@media only screen and (max-width: 960px) {
  .snrs-webpush--topbar-powered {
    position: relative;
    top: 0;
    left: 0; } }

.snrs-webpush--topbar-top {
  max-width: 640px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

@media only screen and (max-width: 960px) {
  .snrs-webpush--topbar-top {
    display: block;
    text-align: center;
    max-width: 100%; } }

@media only screen and (max-width: 960px) {
  .snrs-webpush--topbar-bottom {
    text-align: center;
    margin-top: 10px; } }

.snrs-webpush--topbar-overlay {
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.snrs-webpush--topbar-buttons {
  margin-top: 0;
  margin-left: 20px;
  min-width: 190px; }

@media only screen and (max-width: 960px) {
  .snrs-webpush--topbar-buttons {
    margin-left: 0; } }

.snrs-webpush--topbar-icon {
  width: 29px;
  min-width: 29px;
  height: 29px;
  margin-right: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex; }

.snrs-webpush--topbar .snrs-webpush--close {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 30px;
  top: 30px; }

.snrs-webpush--widget {
  width: 100%;
  height: 100%;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  top: 20px; }

.snrs-webpush--widget-opened .snrs-webpush--widget {
  visibility: visible;
  opacity: 1;
  top: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.snrs-webpush--widget-content {
  padding: 25px;
  position: absolute;
  bottom: 90px;
  left: 0;
  min-width: 267px; }

.snrs-webpush--widget-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px; }

.snrs-webpush--widget-content .snrs-section-is--bright {
  color: #454545; }

.snrs-webpush--widget-content .snrs-section-is--bright:hover {
  color: #454545;
  text-decoration: none; }

.snrs-webpush--widget-powered {
  margin-top: 40px; }

.snrs-webpush--widget-powered .synerise-logo {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("");
  background-size: 100%; }

.snrs-webpush--widget-overlay {
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  display: none;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.snrs-webpush--widget-icon {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%; }

.snrs-webpush--widget-trigger {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  -moz-transition: ease-in 0.2s all;
  -o-transition: ease-in 0.2s all;
  -webkit-transition: ease-in 0.2s all;
  transition: ease-in 0.2s all;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.snrs-webpush--widget-trigger:hover {
  -moz-transition: ease-in 0.2s all;
  -o-transition: ease-in 0.2s all;
  -webkit-transition: ease-in 0.2s all;
  transition: ease-in 0.2s all;
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.snrs-webpush--widget-opened .snrs-webpush--widget-trigger .snrs-webpush--widget-icon {
  background: #5e6c7c; }

.snrs-webpush--widget-opened .snrs-webpush--widget-trigger .snrs-webpush--widget-icon span {
  background-image: url("");
  background-size: 55%;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transition: ease-in-out 0.2s all;
  -o-transition: ease-in-out 0.2s all;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all; }

.snrs-webpush--widget-trigger .snrs-webpush--widget-icon span {
  background-size: 70%;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.2s all;
  -o-transition: ease-in-out 0.2s all;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all; }

.snrs-webpush--shown {
  display: -webkit-flex;
  display: flex; }

.snrs-webpush--position-fixed {
  position: fixed;
  z-index: 99; }

.snrs-messenger-conteiner {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#snrs-messenger *,
#snrs-messenger ::after,
#snrs-messenger ::before {
  box-sizing: border-box; }

#snrs-messenger input[type='text'],
#snrs-messenger input[type='number'],
#snrs-messenger textarea {
  font-size: 16px; }

#snrs-messanger-header-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-size: 100%;
  display: block;
  background-position: 50% 50%;
  background-color: #E5E6E9;
  line-height: 40px;
  margin: 0 0 0 15px;
  float: right; }

#snrs-messenger-header-close-btn {
  background: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  background-position: 50% 50%;
  background-color: #E5E6E9;
  line-height: 40px;
  margin: 0 0 0 15px;
  float: right; }

#snrs-messanger-team-profile {
  color: #5e6c7c;
  font-size: 13px;
  margin: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  #snrs-messanger-team-profile span {
    display: block;
    text-align: left;
    line-height: 1.4;
    padding: 15px 50px 0 5px; }

.snrs-messanger-tooltip {
  position: relative;
  display: inline-block; }

.snrs-messanger-tooltip .snrs-messanger-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s; }

.snrs-messanger-tooltip .snrs-messanger-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.snrs-messanger-tooltip:hover .snrs-messanger-tooltiptext {
  visibility: visible;
  opacity: 1; }

#snrs-messanger-team-avatar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left; }
  #snrs-messanger-team-avatar-container li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    background-size: 100%;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    margin-right: 3px;
    border-radius: 50px;
    background-position: 50% 50%;
    background-color: #E5E6E9;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    line-height: 25px; }
  #snrs-messanger-team-avatar-container img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 3px solid #fff; }

.snrs-messenger-hide {
  display: none; }

.snrs-messenger-show {
  display: block; }

.snrs-messenger-conteiner .snrs-messenger-conversation {
  z-index: 2147483000;
  font-weight: normal;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  height: calc(80% - 40px - 20px);
  background: #FFF;
  width: 370px;
  right: 20px;
  bottom: 95px;
  border-radius: 6px;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #5e6c7c;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  -ms-transform: translate3d(0, 10px, 0);
  -o-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  @media (max-width: 640px) {
    .snrs-messenger-conteiner .snrs-messenger-conversation {
      width: 340px;
      height: calc(70% - 95px - 20px); } }

.snrs-messenger-conteiner .snrs-messenger-sheet-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.snrs-messanger-header {
  background: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
  line-height: 1.4;
  padding: 13px 0 10px;
  box-shadow: none;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }

.snrs-is-scrolled {
  box-shadow: 0px 5px 13px -2px rgba(0, 0, 0, 0.1); }

.snrs-messanger-client-list-btn {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 0;
  display: block;
  cursor: pointer;
  background-size: 15px;
  width: 20px;
  height: 20px;
  display: none; }

#snrs-messanger-title h2 {
  color: #2f3a43;
  font-weight: bold;
  margin: 0 0 4px 0;
  line-height: 1;
  font-size: 15px;
  text-align: right; }

#snrs-messanger-title span {
  color: #afb3bb;
  display: block;
  font-size: 12px;
  font-weight: normal; }

.snrs-messanger-user-title {
  padding: 0 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .snrs-messanger-user-title img {
    margin: 0;
    width: 34px;
    height: 34px;
    margin-left: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.snrs-messanger-user-title__item {
  margin-left: auto;
  text-align: right; }

.snrs-messanger-new-conversation {
  display: block;
  background: #5e6c7c;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  border: none;
  width: 100%;
  padding: 20px;
  font-family: Helvetica, Arial, Sans-Serif; }

.snrs-messanger-body {
  overflow-y: scroll;
  z-index: 1;
  position: absolute;
  top: 63px;
  right: 0;
  bottom: 50px;
  width: 100%; }
  .snrs-messanger-body .emojione {
    font-size: inherit;
    height: 1.3em;
    width: 1.4em;
    display: inline-block;
    top: -3px;
    position: relative;
    margin: 0 .15em;
    line-height: normal;
    vertical-align: middle; }
  .snrs-messanger-body img.emojione {
    width: auto; }

.snrs-messages-list-conteiner {
  box-sizing: border-box;
  position: relative;
  max-width: 620px;
  margin: 0 auto; }

#snrs-messenger-form {
  z-index: 2147483001;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%; }

#snrs-messenger-form textarea {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #455a64;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  font-weight: 400;
  padding: 15px 70px 0 20px;
  border: none;
  border-radius: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  resize: none;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  #snrs-messenger-form textarea:focus {
    outline: none;
    background: #fafafa; }
  #snrs-messenger-form textarea:hover {
    background: #fafafa; }

.snrs-messenger-textarea-btn {
  position: absolute;
  right: 14px;
  top: 15px; }
  .snrs-messenger-textarea-btn button {
    background-repeat: no-repeat;
    background-size: 18px;
    width: 22px;
    height: 20px;
    padding: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-position: center;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    .snrs-messenger-textarea-btn button:focus {
      outline: none; }

.snrs-messenger-textarea-btn-attachement {
  background-image: url(""); }
  .snrs-messenger-textarea-btn-attachement:hover {
    background-image: url(""); }

.snrs-messenger-textarea-btn-new-conversation {
  background-image: url(""); }
  .snrs-messenger-textarea-btn-new-conversation:hover {
    background-image: url(""); }

.snrs-textarea-wrapper {
  position: relative;
  border-top: 1px solid #f5f5f6;
  min-height: 50px; }

#snrs-messenger-powerded {
  width: 100%;
  line-height: 23px;
  width: 100%;
  font-size: 11px;
  bottom: -26px;
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  position: absolute; }

#snrs-messenger-powerded a {
  color: #CBCBCB;
  text-decoration: none;
  text-shadow: 0px 0px 0px #ffffff; }
  #snrs-messenger-powerded a:hover span {
    text-decoration: underline; }

#snrs-message-list {
  /* margin: 20px 0px 20px 0px; */
  /* height: 300px; */
  /* overflow: scroll; */
  padding: 20px;
  height: 100%; }

#snrs-message-list > div:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

body .snrs-message-inner-wrapper {
  max-width: 80%;
  line-height: 1.3;
  font-size: 14px;
  padding: 8px 17px;
  word-wrap: break-word;
  font-weight: 400;
  text-align: left; }

.snrs-msg-group {
  position: relative;
  /* margin: 12px 0 12px 0; */ }

.snrs-msg-group-local .snrs-message-inner-wrapper {
  -webkit-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.snrs-msg-group-remote .snrs-message-inner-wrapper {
  -webkit-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.snrs-message-divider {
  position: relative;
  margin: 12px 0 18px;
  text-align: center; }
  .snrs-message-divider span {
    padding: 0 10px;
    background: #fff;
    color: #AFB3BB;
    position: relative;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase; }
  .snrs-message-divider:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 12px;
    background: #f5f5f6; }

.snrs-msg-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%; }

.snrs-message-inner-wrapper {
  float: right;
  background-color: #5e6c7c;
  color: #fff;
  margin: 3px 0 2px 0; }

.snrs-message-inner-time {
  clear: right;
  display: block;
  color: #afb3bb;
  font-size: 11px;
  float: right;
  margin-top: 2px;
  display: none; }

#snrs-message-list .snrs-msg-group-local:last-child .snrs-message-inner-time,
#snrs-message-list .snrs-msg-group-remote:last-child .snrs-message-inner-time {
  display: block; }

.snrs-msg-group-remote img {
  float: left;
  width: 33px;
  height: 33px;
  margin-top: 3px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.snrs-msg-group-remote .snrs-messenger-avatar {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
  line-height: 33px;
  font-size: 12px;
  margin-top: 3px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: 50% 50%;
  background-color: #E5E6E9;
  background-size: 100%; }

.snrs-msg-group-remote .snrs-message-inner-time {
  clear: left;
  float: left;
  padding-left: 45px; }

.snrs-msg-group-remote .snrs-message-type div {
  float: left;
  background-color: #f5f5f6;
  color: #5e6c7c;
  word-wrap: break-word; }

.snrs-messenger-launcher {
  z-index: 2147483000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 58px;
  height: 58px;
  display: block;
  border-radius: 50%;
  background-color: #5e6c7c;
  cursor: pointer;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  .snrs-messenger-launcher > #snrs-messenger-launcher-button {
    background-repeat: no-repeat;
    height: 100%; }

#snrs-messenger-launcher-button {
  transition: opacity .08s linear,-webkit-transform .16s linear;
  transition: transform .16s linear,opacity .08s linear;
  transition: transform .16s linear,opacity .08s linear,-webkit-transform .16s linear; }

.snrs-messenger-launcher {
  -webkit-transition: all 0.4s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.4s ease;
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.4s ease;
  -webkit-transition-delay: .2s;
  transition-delay: .2s; }
  .snrs-messenger-launcher:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08); }
  .snrs-messenger-launcher > #snrs-messenger-launcher-button {
    background-image: url("");
    background-size: 21px;
    background-position: center 20px;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }

.snrs-messenger-launcher-button-active {
  background-color: #FF6366; }
  .snrs-messenger-launcher-button-active > #snrs-messenger-launcher-button {
    background-image: url("");
    background-size: 16px;
    background-position: center 21px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .snrs-messenger-launcher-button-active #snrs-messenger-launcher-badge {
    opacity: 0; }

#snrs-messenger-launcher-button img {
  border-radius: 50%; }

#snrs-messenger-launcher-badge {
  position: absolute;
  background-color: #ff6366;
  color: #fff;
  top: -3px;
  font-size: 11px;
  right: -3px;
  display: block;
  min-width: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  opacity: 1;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  #snrs-messenger-launcher-badge.snrs-messenger-badge-active:after {
    content: '';
    border: 3px solid #ff6366;
    -webkit-border-radius: 30px;
    height: 26px;
    width: 26px;
    position: absolute;
    left: -2px;
    top: -2px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: -1; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.4, 1.4);
    opacity: 0.0; } }

.snrs-messanger-draw-container {
  float: left;
  min-height: 34px;
  padding: 0 14px;
  margin: 0 0 0 8px;
  display: inline-block;
  background: #fff;
  -webkit-border-radius: 3px 6px 6px 6px;
  border-radius: 3px 6px 6px 6px; }
  .snrs-messanger-draw-container span {
    color: #afb3bb;
    display: inline-block;
    padding: 10px 5px;
    font-size: 11px; }

.snrs-messanger-circle-draw {
  width: 6px;
  height: 6px;
  margin-top: 14px;
  border-radius: 50%;
  background-color: #dfe2e5;
  margin-left: 2px;
  float: left; }
  .snrs-messanger-circle-draw:first-of-type {
    margin-left: 0; }

.snrs-messanger-circle-draw {
  animation: float 1.7s ease-in-out infinite; }

#c1 {
  animation-delay: 0.1s; }

#c2 {
  animation-delay: 0.2s; }

#c3 {
  animation-delay: 0.45s; }

@keyframes float {
  0% {
    background-color: #dfe2e5; }
  20% {
    background-color: #aeb5bd; }
  40% {
    background-color: #dfe2e5; }
  60% {
    background-color: #aeb5bd; }
  80% {
    background-color: #dfe2e5; }
  100% {
    background-color: #aeb5bd; } }

.snrs-messanger-contact-form {
  text-align: left;
  font-size: 14px;
  padding: 15px 0; }
  .snrs-messanger-contact-form p {
    margin: 0 0 5px 0;
    color: #2F3A43;
    font-weight: bold; }
  .snrs-messanger-contact-form span {
    color: #5e6c7c;
    display: block; }
  .snrs-messanger-contact-form.snrs-messenger-invalid-email .snrs-messanger-contact-form__item {
    background: #ffd4d4; }
  .snrs-messanger-contact-form.snrs-messenger-invalid-email .snrs-messenger--simple-list li a.active {
    color: #f16467; }
    .snrs-messanger-contact-form.snrs-messenger-invalid-email .snrs-messenger--simple-list li a.active:before {
      background: #f16467; }

.snrs-show-element--slide {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.snrs-messanger-contact-form__item {
  padding: 5px 20px;
  margin: 20px 0 0 0;
  width: 100%;
  border-radius: 0 0 6px 6px;
  background: #e6e7ea;
  justify-content: space-between; }
  .snrs-messanger-contact-form__item input:focus {
    outline: none; }

.snrs-messanger-contact-form__item .snrs-messanger-contact-form-input {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  color: #5e6c7c;
  font-weight: 400;
  border: 0;
  background: transparent;
  padding: 0;
  line-height: 18px;
  width: 240px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  @media (max-width: 640px) {
    .snrs-messanger-contact-form__item .snrs-messanger-contact-form-input {
      width: 255px;
      border-radius: 0; } }
  .snrs-messanger-contact-form__item .snrs-messanger-contact-form-input::-webkit-input-placeholder {
    color: #5e6c7c;
    font-weight: 400;
    font-family: Helvetica, Arial, Sans-Serif; }
  .snrs-messanger-contact-form__item .snrs-messanger-contact-form-input::-moz-placeholder {
    color: #5e6c7c;
    font-weight: 400;
    font-family: Helvetica, Arial, Sans-Serif; }
  .snrs-messanger-contact-form__item .snrs-messanger-contact-form-input:-ms-input-placeholder {
    color: #5e6c7c;
    font-weight: 400;
    font-family: Helvetica, Arial, Sans-Serif; }
  .snrs-messanger-contact-form__item .snrs-messanger-contact-form-input:-moz-placeholder {
    color: #5e6c7c;
    font-weight: 400;
    font-family: Helvetica, Arial, Sans-Serif; }

.snrs-messanger-contact-form__item .snrs-messanger-contact-form-button {
  background-image: url("");
  background-size: 35px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  padding: 12px 15px;
  display: inline-block;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  background-color: transparent;
  text-indent: -9999px; }
  .snrs-messanger-contact-form__item .snrs-messanger-contact-form-button:hover {
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    transform: translate(5px); }

.snrs-flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.snrs-flex__item {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -o-flex: 1 0 auto;
  flex: 1 0 auto; }

.snrs-default__item {
  padding: 20px;
  margin: 0; }

.snrs-messneger-title {
  font-weight: bold; }

.snrs-chat-header {
  text-align: center; }

.snrs-btn-new-conversation {
  display: block;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  background: #5e6c7c; }

.snrs-chat-body {
  margin-bottom: 100px; }

.snrs-conversation-list {
  display: none;
  position: absolute;
  top: 0;
  left: -370px;
  width: 100%;
  background: #fff;
  z-index: 1;
  height: 100%;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }

.snrs-conversation-list--open {
  left: 0;
  position: fixed; }

.snrs-messenger-chat-body__item {
  padding: 25px 20px 0 20px;
  cursor: pointer;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  .snrs-messenger-chat-body__item:hover {
    background: #f5f5f6; }

.snrs-messenger-chat-body--photo {
  padding-right: 15px;
  position: relative; }
  .snrs-messenger-chat-body--photo img {
    border-radius: 50%; }

.snrs-messenger-chat-body--content {
  border-bottom: 1px solid #f5f5f6;
  font-size: 13px;
  padding-bottom: 25px; }

.snrs-messenger-time {
  text-align: right;
  position: relative;
  color: #AFB3BB; }

.snrs-messenger-available-available {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: -3px;
  right: 15px;
  background: #b7df3c; }

.snrs-messenger-name {
  margin: 1px 0 8px 0;
  font-weight: bold; }

.snrs-text {
  font-size: 15px; }

.snrs-is-visible {
  display: block; }

.snrs-messenger-circle {
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  bottom: 1px;
  border-radius: 50px;
  border: 2px solid #ff6366; }

.snrs-chat-footer {
  border-top: 1px solid #f5f5f6; }

.snrs-scroll-hidden {
  top: 0;
  overflow: hidden; }

.snrs-emotjione {
  background: #fff;
  position: absolute;
  right: 20px;
  bottom: 50px;
  border-radius: 4px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1); }
  .snrs-emotjione ul {
    width: 255px;
    height: 220px;
    overflow-y: auto;
    list-style: none;
    margin: 0 -5px 0 -5px;
    padding: 20px; }
    .snrs-emotjione ul li {
      display: inline-block;
      padding: 4px; }
  .snrs-emotjione img.emojione {
    font-size: 32px;
    height: 1em;
    top: 0;
    cursor: pointer;
    transition: -webkit-transform 60ms ease-out;
    transition: transform 60ms ease-out;
    transition: transform 60ms ease-out,-webkit-transform 60ms ease-out;
    transition-delay: 60ms; }
    .snrs-emotjione img.emojione:hover {
      transition-delay: 0ms;
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }

img.emojione {
  top: 0;
  font-size: 16px;
  width: auto; }

.snrs-message-type .snrs-msg-row-transparent {
  background: #fff;
  padding: 0; }
  .snrs-message-type .snrs-msg-row-transparent img {
    width: 64px;
    height: 64px; }

.snrs-message-inner-wrapper:has > img {
  background: none !important; }

.snrs-templateUploadFile .snrs-message-inner-wrapper {
  background: none !important;
  padding: 8px 0px;
  width: 252px; }
  .snrs-templateUploadFile .snrs-message-inner-wrapper img {
    width: 100%;
    border-radius: 10px; }

.snrs-msg-group {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 15px, 0);
  -moz-transform: translate3d(0, 15px, 0);
  -ms-transform: translate3d(0, 15px, 0);
  -o-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out; }

.snrs-slide-animation {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  -ms-transform: translate3d(0, 10px, 0);
  -o-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  .snrs-slide-animation--visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.snrs-arrow-down {
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  transform: rotate(180deg);
  bottom: -20px;
  right: 21px; }
  .snrs-arrow-down:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
    top: 13px;
    left: 2px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1); }

.snrs-messenger--simple-list {
  padding: 0;
  margin: 8px 0 0;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  display: none; }
  .snrs-messenger--simple-list li {
    display: inline-block;
    text-align: center;
    margin: 0 15px 0 0;
    position: relative; }
    .snrs-messenger--simple-list li a {
      -webkit-transition: .3s;
      transition: .3s;
      text-decoration: none;
      padding: 10px 0;
      display: inline-block;
      font-weight: bold;
      color: #5e6c7c; }
      .snrs-messenger--simple-list li a:hover, .snrs-messenger--simple-list li a.active {
        color: #02b2f2;
        text-decoration: none; }
      .snrs-messenger--simple-list li a.active:before {
        content: '';
        position: absolute;
        height: 1px;
        display: block;
        background: #02b2f2;
        bottom: -1px;
        width: 100%;
        left: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s; }
    .snrs-messenger--simple-list li:before {
      content: '';
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
      -webkit-transition: -webkit-transform 0.1s;
      transition: -webkit-transform 0.1s;
      transition: transform 0.1s;
      transition: transform 0.1s, -webkit-transform 0.1s; }

.snrs-messenger--emialico {
  position: absolute;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: top;
  right: -10px;
  top: -10px;
  height: 35px; }

.snrs-messenger-el-hidden {
  display: none !important; }

.snrs-messenger-el-visible {
  display: block !important; }

.snrs-templateDropEmailForm time {
  display: none !important; }

.snrs-templateDropEmailForm .snrs-messenger-avatar {
  display: none; }

.snrs-templateDropEmailForm .snrs-message-inner-wrapper {
  padding: 0;
  margin: 30px 0;
  max-width: 100%;
  width: 100%; }
  .snrs-templateDropEmailForm .snrs-message-inner-wrapper span,
  .snrs-templateDropEmailForm .snrs-message-inner-wrapper p {
    padding: 0 60px 0 20px; }

.snrs-templateDropEmailForm .snrs-message-inner-wrapper {
  border-radius: 6px; }

.snrs-templateDropEmailForm .snrs-messanger-contact-form {
  width: 100%;
  padding: 20px 0 0;
  border-radius: 6px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#snr-messenger-drop-email-log {
  font-weight: bold;
  display: block;
  padding: 17px 20px 17px 20px;
  margin: 20px 0 0 0;
  background: #e6e7ea;
  border-radius: 0 0 6px 6px; }

.snrs-templateRepeatUnderMessage .snrs-messenger-avatar {
  visibility: visible !important; }

@media (max-width: 480px) {
  .snrs-messenger-header-avatar {
    display: none; }
  .snrs-messenger-header-close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0 0 15px;
    background: #f1f0f0;
    padding: 12px;
    color: #5e6c7c; }
  .snrs-messenger-conversation {
    display: block;
    z-index: 2147483003 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: none !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important; } }

.snrs-notify-template-products {
  max-width: 100%; }

.snrs-products-slider {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .snrs-products-slider .snrs-products {
    display: block;
    padding: 0;
    overflow: hidden;
    transition: transform .5s ease; }
    .snrs-products-slider .snrs-products li {
      display: inline-block;
      padding: 15px;
      text-align: center;
      box-sizing: border-box; }
      .snrs-products-slider .snrs-products li img {
        width: 100%; }

.snrs-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: #f1f2f4;
  cursor: pointer;
  border-radius: 50%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center center; }

.snrs-left-arrow {
  left: 0;
  -webkit-transform: translate(0, -50%) rotateY(-180deg);
  -moz-transform: translate(0, -50%) rotateY(-180deg);
  -ms-transform: translate(0, -50%) rotateY(-180deg);
  -o-transform: translate(0, -50%) rotateY(-180deg);
  transform: translate(0, -50%) rotateY(-180deg); }

.snrs-right-arrow {
  right: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }
